html,
body {
    min-width: 1122px;
    min-height: 1750px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000000;
    background: #fcf9f6;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main_header {
    margin-bottom: 60px;
    background: #000000;
}

.main_navigation {
    float: left;
    width: 780px;
}

.user_block {
    float: right;
    width: 140px;
}

.main_nav_head {
    width: 620px;
    height: 75px;
}

.breadcrumbs {
    margin-bottom: 60px;
}

.photo_set {
    float: left;
    width: 460px;
    height: 670px;
    margin-top: 100px;
}

.description_set {
    float: right;
    width: 390px;
    height: 510;
    margin-top: 100px;
}

.main_footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    background: #232323;
}

.footer_contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer_social {
    float: left;
    width: 180px;
    margin-right: 220px;
}

.footer_copyright {
    float: right;
    width: 180px;
}
