body {
    font-family: Arial, sans-serif;
    font-size: 20px
    line-height: 100px;
    color: #000000;
    font-weight: normal;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 20px
    line-height: 100px;
    color: black;
    font-weight: normal;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 20px
    line-height: 100px;
    color: black;
    font-weight: normal;
}